Source: guacharo-l10n
Section: localization
Priority: optional
Maintainer: Christoph Goehre <chris@sigxcpu.org>
Uploaders: Carsten Schoenert <c.schoenert@t-online.de>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: unzip, zip, mozilla-devscripts
Standards-Version: 3.9.4
Vcs-Git: git://anonscm.debian.org/pkg-mozilla/guacharo-l10n.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-mozilla/guacharo-l10n.git;a=summary

Package: guacharo-l10n-all
Architecture: all
Depends:
 ${misc:Depends},
 guacharo-l10n-ar,
 guacharo-l10n-ast,
 guacharo-l10n-be,
 guacharo-l10n-bg,
 guacharo-l10n-bn-bd,
 guacharo-l10n-br,
 guacharo-l10n-ca,
 guacharo-l10n-cs,
 guacharo-l10n-da,
 guacharo-l10n-de,
 guacharo-l10n-el,
 guacharo-l10n-en-gb,
 guacharo-l10n-es-ar,
 guacharo-l10n-es-es,
 guacharo-l10n-et,
 guacharo-l10n-eu,
 guacharo-l10n-fi,
 guacharo-l10n-fr,
 guacharo-l10n-fy-nl,
 guacharo-l10n-ga-ie,
 guacharo-l10n-gd,
 guacharo-l10n-gl,
 guacharo-l10n-he,
 guacharo-l10n-hu,
 guacharo-l10n-id,
 guacharo-l10n-is,
 guacharo-l10n-it,
 guacharo-l10n-ja,
 guacharo-l10n-ko,
 guacharo-l10n-lt,
 guacharo-l10n-nb-no,
 guacharo-l10n-nl,
 guacharo-l10n-nn-no,
 guacharo-l10n-pa-in,
 guacharo-l10n-pl,
 guacharo-l10n-pt-br,
 guacharo-l10n-pt-pt,
 guacharo-l10n-rm,
 guacharo-l10n-ro,
 guacharo-l10n-ru,
 guacharo-l10n-si,
 guacharo-l10n-sk,
 guacharo-l10n-sl,
 guacharo-l10n-sq,
 guacharo-l10n-sr,
 guacharo-l10n-sv-se,
 guacharo-l10n-ta-lk,
 guacharo-l10n-tr,
 guacharo-l10n-uk,
 guacharo-l10n-vi,
 guacharo-l10n-zh-cn,
 guacharo-l10n-zh-tw
Description: All language packages for Guacharo (meta)
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package is a metapackage depending on all available localization of
 Guacharo.

Package: guacharo-l10n-ar
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: hunspell-ar
Description: Arabic language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Arabic.

Package: guacharo-l10n-ast
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Asturian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Asturian.

Package: guacharo-l10n-be
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Belarusian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Belarusian.

Package: guacharo-l10n-bg
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-bg
Description: Bulgarian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Bulgarian.

Package: guacharo-l10n-bn-bd
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Bengali language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Bengali.

Package: guacharo-l10n-br
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Breton language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Breton.

Package: guacharo-l10n-ca
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-ca
Description: Catalan/Valencian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Catalan/Valencian.

Package: guacharo-l10n-cs
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-cs-cz
Description: Czech language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Czech.

Package: guacharo-l10n-da
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-da | hunspell-da
Description: Danish language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Danish.

Package: guacharo-l10n-de
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-de-de | myspell-de-at | myspell-de-ch | hunspell-de-de | hunspell-de-at | hunspell-de-ch
Description: German language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in German.

Package: guacharo-l10n-el
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-el-gr
Description: Greek language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Greek.

Package: guacharo-l10n-en-gb
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-en-gb | myspell-en-us | hunspell-en-us
Description: English (Great Britain) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in English (Great Britain).

Package: guacharo-l10n-es-ar
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-es
Description: Spanish (Argentina) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Spanish (Argentina).

Package: guacharo-l10n-es-es
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-es
Description: Spanish (Spain) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Spanish (Spain).

Package: guacharo-l10n-et
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-et
Description: Estonian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Estonian.

Package: guacharo-l10n-eu
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Basque language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Basque.

Package: guacharo-l10n-fi
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-fi
Description: Finnish language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Finnish.

Package: guacharo-l10n-fr
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-fr | myspell-fr-gut | hunspell-fr
Description: French language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in French.

Package: guacharo-l10n-fy-nl
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Frisian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Frisian.

Package: guacharo-l10n-ga-ie
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Irish (Ireland) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Irish (Ireland).

Package: guacharo-l10n-gd
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-gd
Description: Gaelic (Scottish) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Gaelic (Scottish).

Package: guacharo-l10n-gl
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: hunspell-gl-es
Description: Galician language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Galician.

Package: guacharo-l10n-he
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-he
Description: Hebrew language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Hebrew.

Package: guacharo-l10n-hu
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-hu | hunspell-hu
Description: Hungarian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Hungarian.

Package: guacharo-l10n-id
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Indonesian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Indonesian.

Package: guacharo-l10n-is
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Icelandic language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Icelandic.

Package: guacharo-l10n-it
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-it
Description: Italian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Italian.

Package: guacharo-l10n-ja
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Japanese language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Japanese.

Package: guacharo-l10n-ko
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: hunspell-ko
Description: Korean language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Korean.

Package: guacharo-l10n-lt
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-lt
Description: Lithuanian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Lithuanian.

Package: guacharo-l10n-nb-no
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-nb
Description: Bokmaal (Norway) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Bokmaal (Norway).

Package: guacharo-l10n-nl
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-nl
Description: Dutch language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Dutch.

Package: guacharo-l10n-nn-no
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-nn
Description: Nynorsk (Norway) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Nynorsk (Norway).

Package: guacharo-l10n-pa-in
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Punjabi (India) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Punjabi (India).

Package: guacharo-l10n-pl
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-pl
Description: Polish language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Polish.

Package: guacharo-l10n-pt-br
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-pt-br | myspell-pt
Description: Portuguese (Brazil) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Portuguese (Brazil).

Package: guacharo-l10n-pt-pt
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-pt-pt | myspell-pt
Description: Portuguese (Portugal) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Portuguese (Portugal).

Package: guacharo-l10n-rm
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Romansh language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Romansh.

Package: guacharo-l10n-ro
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: hunspell-ro
Description: Romania language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Romania.

Package: guacharo-l10n-ru
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-ru
Description: Russian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Russian.

Package: guacharo-l10n-si
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Sinhala language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Sinhala.

Package: guacharo-l10n-sk
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-sk
Description: Slovak language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Slovak.

Package: guacharo-l10n-sl
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-sl
Description: Slovenian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Slovenian.

Package: guacharo-l10n-sq
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Albanian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Albanian.

Package: guacharo-l10n-sr
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: hunspell-se
Description: Serbian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Serbian.

Package: guacharo-l10n-sv-se
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: myspell-sv-se
Description: Swedish (Sweden) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Swedish (Sweden).

Package: guacharo-l10n-ta-lk
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Tamil language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Tamil.

Package: guacharo-l10n-tr
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Turkish language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Turkish.

Package: guacharo-l10n-uk
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Ukrainian language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Ukrainian.

Package: guacharo-l10n-vi
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Recommends: hunspell-vi
Description: Vietnamese language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Vietnamese.

Package: guacharo-l10n-zh-cn
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Chinese (China) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Chinese (China).

Package: guacharo-l10n-zh-tw
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 17.0.7), guacharo (<= 17.1)
Description: Chinese (Taiwan) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Chinese (Taiwan).

