Source: guacharo-l10n
Section: localization
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: José Miguel Parrella Romero <jparrella@onuva.com>, Carlos David Marrero <cdmarrero2040@gmail.com>, Orlando Andrés Fiol Carballo <ofiol@indesoft.org.ve>, Carlos Alejandro Guerrero Mora <guerrerocarlos@gmail.com>, Diego Alberto Aguilera Zambrano <diegoaguilera85@gmail.com>, Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>, Francisco Javier Vásquez Guerrero <franjvasquezg@gmail.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~)
Build-Depends-Indep: unzip, zip
Standards-Version: 3.9.1
DM-Upload-Allowed: yes
Homepage:  http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/guacharo-l10n.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/guacharo-l10n/trees/master

Package: guacharo-l10n-es-ar
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 3.1), guacharo (<= 3.2)
Recommends: myspell-es
Description: Spanish (Argentina) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Spanish (Argentina).

Package: guacharo-l10n-es-es
Architecture: all
Depends: ${misc:Depends}, guacharo (>= 3.1), guacharo (<= 3.2)
Recommends: myspell-es
Description: Spanish (Spain) language package for Guacharo
 Guacharo is an unbranded Thunderbird mail client suitable for free distribution.
 The goal of Thunderbird is to produce a cross platform stand-alone mail
 application using the XUL user interface language.
 .
 This package contains the localization of Guacharo in Spanish (Spain).
